@model IEnumerable<BoxOfCourses.Models.ReviewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container cont-reviews-table" style="color: white; ">

    <p style="color:white; font-size: 40px; font-weight: 700" class="heading-index-reviews">
        Want to <span style="color: #5ABD64">share your opinion</span> with us? <a href="~/ReviewModels/Create">  <ion-icon style="color: orange; font-size: 30px; padding-top: 9px" name="duplicate"></ion-icon></a> 
    </p>
    <div class="table-reviews-container">
        <table class="table table-reviews" id="ReviewsTable">
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        User's review
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="username-td" user-data="@item.UserName")>
                            @{
                                string[] temp = (item.UserName).Split('@');
                               
                            }
                            @Html.DisplayFor(modelItem => temp[0])
                        </td>
                        <td class="category-table-column">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td class="comment-section-table">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="stars-column">
                            @for (int i = 0; i < item.ReviewValue; i++)
                            {
                                <img class="colored-stars" style="width: 25px; height: 25px" src="~/Content/photos/white-star.png" />
                            }
                            @*@Html.DisplayFor(modelItem => item.ReviewValue)*@
                        </td>
                        <td>
                            @if (User.Identity.Name == item.UserName || User.Identity.Name == "administrator@gmail.com")
                            {
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                            <button data-course-id="@item.Id" class="btn btn-danger js-delete">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .colored-stars{
        background: url('/Content/photos/yellow-star.png');
        background-repeat: no-repeat;
        background-size: 25px;
    }
    .cont-reviews-table
    {
        margin-top: 50px;
    }
    .table-reviews-container{
        padding-top: 50px;
    }
    th {
        color: #5ABD64;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
    }
    .stars-column{
        text-align: center;
    }
    @*td{
        vertical-align: middle;
        text-align: center;
    }*@
    .username-td {
        color: lightblue;
        font-size: 15px;
    }
    .category-table-column {
        color: grey;
        font-size: 15px;
        font-weight: 700;
        width: 100px;
    }
    #ReviewsTable_filter label {
        color: #C126EA;
        font-size: 17px;
    }
    .comment-section-table{
        max-width: 150px;
        text-align: justify;
    }

    tr:hover {
        background-color: #303641!important;
    }

    tr:nth-child(even) {
        background-color: #171c26;
    }
 
</style>

@section scripts{
    <script>

        $(document).ready(function () {
            var table = $(".table-reviews").DataTable();

            tempTable = table;
        })

       
        $("#ReviewsTable .js-delete").on("click", function () {
            var button = $(this);
            bootbox.confirm({
                message: "Are you sure you want to delete your review?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/ReviewModels/Delete/" + button.attr("data-course-id"),
                            method: "GET",
                            success: function () {
                                tempTable.row(button.parents("tr")).remove().draw();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        })
                    }
                }
            });
        })
    </script>
    }