@model IEnumerable<BoxOfCourses.Models.ReviewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container cont-reviews-table" style="color: white; ">

    <div class="row">
        <div class="col-md-8">
            <p style="color:white; font-size: 40px; font-weight: 700; padding-top: 30px;" class="heading-index-reviews;">
                Want to <span style="color: #5ABD64">share your opinion</span> with us? <a href="~/ReviewModels/Create">  <ion-icon style="color: orange; font-size: 30px; padding-top: 9px" name="duplicate"></ion-icon></a>
            </p>
        </div>
        <div class="col-md-4">
            <div class="container-rating text-right">
                <h6 style="font-size: 15px;"><span style="color: #5ABD64;">BoxOfCourses </span>overall rating</h6>
                @{
                    var list = Model.ToList();
                    var numelems = list.Count;

                    float averagerating = 0;
                    float sum = 0;
                    foreach (var item in list)
                    {
                        sum += item.ReviewValue;
                    }

                    averagerating = (sum / numelems);

                    float ratingImages = (float)Math.Round(averagerating, 2) * 100;
                    float lastdigits = ratingImages % 100;
                    float numStars = ratingImages % 1000;

                    int numFinal = (int)numStars / 100;
                     <h4 class="average-rating">@string.Format("{0:n2}", averagerating)</h4>
                    if (lastdigits >= 50)
                    {
                        numFinal += 1;
                    }

                    for (var i = 0; i < 5; i++)
                    {
                        if (i < numFinal)
                        {
                            <img class="colored-stars" style="width: 25px; height: 25px" src="~/Content/photos/whiteStar-2.png" />
                        }
                        else
                        {
                            <img style="width: 25px; height: 25px" src="~/Content/photos/whiteStar-2.png" />
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="table-reviews-container">
        <table class="table table-reviews" id="ReviewsTable">
            <thead>
                <tr>
                    <th>
                        CREATED
                    </th>
                    <th>
                        AUTHOR
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th class="th-user-review">
                        User's review
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentDate)
                        </td>
                        <td class="username-td" user-data="@item.UserName" )>
                            @{
                                string[] temp = (item.UserName).Split('@');

                            }
                            @Html.DisplayFor(modelItem => temp[0])
                        </td>
                        <td class="category-table-column">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td class="comment-section-table">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="stars-column">
                            @for (int i = 0; i < item.ReviewValue; i++)
                            {
                                <img class="colored-stars" style="width: 25px; height: 25px" src="~/Content/photos/white-star.png" />
                            }
                            @*@Html.DisplayFor(modelItem => item.ReviewValue)*@
                        </td>
                        <td>
                            @if (User.Identity.Name == item.UserName || User.Identity.Name == "administrator@gmail.com")
                            {
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                                <button data-course-id="@item.Id" class="btn btn-danger js-delete"><i style="padding-top: 2px;" class="glyphicon glyphicon-trash"></i> Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .colored-stars{
        background: url('/Content/photos/yellow-star.png');
        background-repeat: no-repeat;
        background-size: 25px;
    }
    .cont-reviews-table
    {
        margin-top: 50px;
    }
    .table-reviews-container{
        padding-top: 50px;
    }
    th {
        color: #5ABD64;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
    }
    .stars-column{
        padding-left: 80px!important;
    }
    td{
        vertical-align: middle!important;
    }
    .username-td {
        color: lightblue;
        font-size: 15px;
    }
    .category-table-column {
        color: grey;
        font-size: 15px;
        font-weight: 700;
        width: 120px;
    }
    #ReviewsTable_filter label {
        color: #C126EA;
        font-size: 17px;
    }
    .comment-section-table{
        max-width: 180px;
        text-align: justify;
    }

    .th-user-review{
        text-align: center;
    }

    tr:hover {
        background-color: #303641 !important;
    }

    tr:nth-child(even) {
        background-color: #171c26;
    }

    .js-delete {
        background-color: #922121;
        font-weight: 600;
    }

    @*style entries info*@ 
    #ReviewsTable_info {
        color: grey;
    }

    @*hide search field*@
    #ReviewsTable_filter {
        display: none !important;
    }
    .average-rating {
        border: 0.5px solid #303641;
        border-radius: 10px;
       @* width: 80px;
        height: 50px;*@
        padding-top: 14px;
        padding-left: 8px;
        text-align: right!important;
        width: 100px;
        position: relative; left: 78%;
        padding: 10px 10px 5px;
    }
    
    .average-rating:hover {
       background-color: #303641;
    }
</style>

@section scripts{
    <script>

        $(document).ready(function () {
            var table = $(".table-reviews").DataTable({
                "order": [[0, "desc"]]
            });

            tempTable = table;

            var rating = $(".average-rating").html();
            var temp = new Array();
            temp = rating.split(",");
            var num = temp.join(".");


            if (parseFloat(num) >= 4.5) {
                $(".average-rating").css("color", "#5ABD64");
                $(".average-rating").text($(".average-rating").text() + " " + "🎉")
            } else if (parseFloat(num) >= 3.5 && parseFloat(num) <= 4.4) {
                $(".average-rating").css("color", "#F86207");
                $(".average-rating").text($(".average-rating").text() + " " + "😁")
            } else {
                $(".average-rating").css("color", "red");
                $(".average-rating").text($(".average-rating").text() + " " + "👎")
            }
        })

       
        $("#ReviewsTable .js-delete").on("click", function () {
            var button = $(this);
            bootbox.confirm({
                message: "Are you sure you want to delete your review?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/ReviewModels/Delete/" + button.attr("data-course-id"),
                            method: "GET",
                            success: function () {
                                tempTable.row(button.parents("tr")).remove().draw();
                               @* location.reload();*@
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        })
                    }
                }
            });
        })
    </script>
    }